.place__link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

@media screen and (max-width: 425px) {
  .place__link-container {
    padding: 0 16px;
  }
}
