.hero__subtitle {
  margin: 0 auto;
  padding: 32px 0 64px 0;
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__subtitle {
    font-size: 4vw;
    max-width: 70%;
    padding: 16px 0 40px 0;
  }
}

@media screen and (max-width: 320px) {
  .hero__subtitle {
    max-width: 90%;
    font-size: 16px;
  }
}
