.hero {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .hero {
    padding: 0 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 0;
  }
}
