.footer__link {
  text-decoration: none;
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 520px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
