.hero__image-subtext {
  margin: 0;
  padding: 8px 0 0 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .hero__image-subtext {
    padding: 8px 0 0 24px;
  }
}
