.descr {
  padding: 92px 48px;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .descr {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .descr {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 320px) {
  .descr {
    padding: 64px 16px;
  }
}
