.header__btn {
  background: none;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  color: var(--text);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

.header__btn:hover {
  opacity: 0.8;
}

@media (max-width: 320px) {
  .header__btn {
    font-size: 18px;
    line-height: 1.1;
  }
}
