/* VENDOR */
@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

/* BLOCKS */
@import url("../blocks/page/page.css");
@import url("../blocks/place-grid/place-grid.css");
@import url("../blocks/place/place.css");

/* header */
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/header/__lang-list/header__lang-list.css");
@import url("../blocks/header/__btn/header__btn.css");
@import url("../blocks/header/__btn/_active/header__btn_active.css");

/* hero */
@import url("../blocks/hero/hero.css");
@import url("../blocks/hero/__title/hero__title.css");
@import url("../blocks/hero/__subtitle/hero__subtitle.css");
@import url("../blocks/hero/__image/hero__image.css");
@import url("../blocks/hero/__image-subtext/hero__image-subtext.css");

/* description */
@import url("../blocks/descr/descr.css");
@import url("../blocks/descr/__article/descr__article.css");
@import url("../blocks/descr/__title/descr__title.css");
@import url("../blocks/descr/__paragraph/descr__paragraph.css");
@import url("../blocks/descr/__digits/descr__digits.css");
@import url("../blocks/descr/__digit-title/descr__digit-title.css");
@import url("../blocks/descr/__digit/descr__digit.css");

/* gallery */
@import url("../blocks/gallery/gallery.css");
@import url("../blocks/gallery/__list/gallery__list.css");
@import url("../blocks/gallery/__image/gallery__image.css");

/* places */
@import url("../blocks/places/places.css");
@import url("../blocks/places/__list/places__list.css");
@import url("../blocks/place/__heading/place__heading.css");
@import url("../blocks/place/__title/place__title.css");
@import url("../blocks/place/__link-container/place__link-container.css");
@import url("../blocks/place/__link-subtext/place__link-subtext.css");
@import url("../blocks/place/__link/place__link.css");
@import url("../blocks/place/__content/place__content.css");
@import url("../blocks/place/__image/place__image.css");
@import url("../blocks/place/__about/place__about.css");
@import url("../blocks/place/__paragraph/place__paragraph.css");

/* cover */
@import url("../blocks/cover/cover.css");
@import url("../blocks/cover/__link/cover__link.css");
@import url("../blocks/cover/__title/cover__title.css");
@import url("../blocks/cover/__subtitle/cover__subtitle.css");

/* footer */
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__links/footer__links.css");
@import url("../blocks/footer/__link/footer__link.css");
@import url("../blocks/footer/__author/footer__author.css");
