.footer {
  max-width: 1184px;
  margin: 0 auto;
  padding: 92px 48px 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (max-width: 690px) {
  .footer {
    align-items: flex-end;
  }
}

@media screen and (max-width: 520px) {
  .footer {
    padding: 64px 16px 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }
}
